### Python Pandas Tutorials- Part 2

In Part 2 we are going to learn about
1. StringIO
2. Pandas read_csv

In [1]:
### Reading Different Data sources with the help of pandas
from io import StringIO

In [2]:
import pandas as pd

In [6]:
data = ('Col1,Col2,Col3\n'
        'X=2,Y=4,Z=6\n'
        'X+Y=?,X-Z=?,Y/Z\n'
       'X-Y=?,Y+Z=?,X/Z')

In [7]:
##in memeory file format object
StringIO(data)

In [9]:
Read = pd.read_csv(StringIO(data))

In [10]:
Read

    Col1   Col2 Col3
0    X=2    Y=4  Z=6
1  X+Y=?  X-Z=?  Y/Z
2  X-Y=?  Y+Z=?  X/Z

In [11]:
type (Read)

pandas.core.frame.DataFrame

In [14]:
data = pd.read_csv(StringIO(data), usecols=['Col2','Col1'])

In [15]:
data

    Col1   Col2
0    X=2    Y=4
1  X+Y=?  X-Z=?
2  X-Y=?  Y+Z=?

In [20]:
data.to_csv('test.csv',index=[False])

In [24]:
data

    Col1   Col2
0    X=2    Y=4
1  X+Y=?  X-Z=?
2  X-Y=?  Y+Z=?

In [46]:
##datatypes in csv
data_2 = ('a,b,c,d\n'
          '1,2,3,4\n'
          '11,55,66,99\n'
         '22,33,44')

In [31]:
CSV = pd.read_csv(StringIO(data_2))

In [34]:
CSV.head()

    a   b   c     d
0   1   2   3   4.0
1  11  55  66  99.0
2  22  33  44   NaN

In [35]:
CSV.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [36]:
CSV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [40]:
CSV = pd.read_csv(StringIO(data_2),dtype='object')

In [41]:
CSV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [45]:
CSV.isnull()!=0

       a      b      c      d
0  False  False  False  False
1  False  False  False  False
2  False  False  False   True

In [48]:
CSV = pd.read_csv(StringIO(data_2),dtype={'a':int,'b':float,'c':'object'})

In [49]:
CSV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      float64
 2   c       3 non-null      object
 3   d       2 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 228.0+ bytes

In [53]:
CSV.dtypes

a      int64
b    float64
c     object
d    float64
dtype: object

In [68]:
data = ('index,a,b,c\n'
       '1,Apple,Cue,1.0Kg\n'
       '2,Bnana,Bowl,2 Dozen')

In [69]:
csv = pd.read_csv(StringIO(data),index_col=0, usecols=['index','a','b','c'])

In [70]:
csv.head()

           a     b        c
index
1      Apple   Cue    1.0Kg
2      Bnana  Bowl  2 Dozen

In [71]:
csv.dtypes

a    object
b    object
c    object
dtype: object

In [72]:
csv.describe()

            a    b      c
count       2    2      2
unique      2    2      2
top     Apple  Cue  1.0Kg
freq        1    1      1

In [84]:
pd.read_csv('industry.csv', index_col=0)

Empty DataFrame
Columns: []
Index: [Accounting/Finance, Advertising/Public Relations, Aerospace/Aviation, Arts/Entertainment/Publishing, Automotive, Banking/Mortgage, Business Development, Business Opportunity, Clerical/Administrative, Construction/Facilities, Consumer Goods, Customer Service, Education/Training, Energy/Utilities, Engineering, Government/Military, Green, Healthcare, Hospitality/Travel, Human Resources, Installation/Maintenance, Insurance, Internet, Job Search Aids, Law Enforcement/Security, Legal, Management/Executive, Manufacturing/Operations, Marketing, Non-Profit/Volunteer, Pharmaceutical/Biotech, Professional Services, QA/Quality Control, Real Estate, Restaurant/Food Service, Retail, Sales, Science/Research, Skilled Labor, Technology, Telecommunications, Transportation/Logistics, Other]