# Python Operators

###  Logical Operators
In python following keywords are used for boolean operations -

|Keywords | Meaning|
|-|-|
|**not**|unary negation|
|**and**|conditional AND|
|**or**|conditional OR| 

**EXAMPLES**:

In [3]:
type(True)

bool

In [2]:
False

False

In [4]:
bool(1)

True

In [5]:
a = True
b = False

In [10]:
True and False        ## AND Operator

False

In [11]:
True or False         ## OR Operator

True

In [12]:
not True              ## Unary Negation  |   "Opposite Operator"

False

In [13]:
not False

True

In [18]:
age = int(input("Enter Age"))
if (age > 18 and age <= 25):
    print ("Approved")

Enter Age 21

Approved

In [17]:
age = int(input("Enter Age"))
if (age < 18 or age >= 25):
    print ("Not Approved")

Enter Age 17

Not Approved

### Equality Operators

Following operations are present in python for equlity check operation-

|Operators|Meaning|
|-|-|
|**is**|***a is b*** returns true if variable/identifiers a and b *points* to the *same object*|
|**is not**|***a is not b*** returns true if variable/identifiers a and b *points* to the *different object*|
|**==**|***a == b*** returns true if variable/identifiers a and b has same value|
|**!=**|***a != b*** returns true if variable/identifiers a and b has different value|

In [91]:
a = "Ahmad"       ## == Operator   "Check the Value , if Same "
b = "Ahmad"
a == b

True

In [21]:
a = "Ahmad"      
b = "Ahmad1"

a == b

False

In [22]:
age = int(input("Enter Age"))
if age == 18:
    print ("Teenage")

Enter Age 18

Teenage

In [89]:
a = "Ahmad"        ## is Operator     "Check the Object or Memory Value, if same or not" 
b = "Ahmad"
print(id(a))
print(id(b))

1795212685888
1795212685888

In [25]:
a is b

True

In [26]:
lst = [1,0,3,4]
lst1 = [1,0,3,4]
print (id(lst))
print (id(lst1))

1795174830528
1795212903040

In [27]:
lst is lst1

False

In [29]:
lst == lst1

True

In [31]:
lst is not lst1        ## is not Operator   |   "Opposite Operator"

True

In [35]:
lst != lst1            ## != Operator      |   "not Equal"

False

In [36]:
"Ahmad" != "Ali"

True

## comparison operators
|Operation|Meaning|
|:-:|:-:|
| **<** |less than|
| **<=** |less than or equal to|
| **>** |greater than|
| **>=** |greater than or equal to|

In [77]:
marks = float(input("Enter Your Marks"))
if marks >= 33:
    print ("Pass")
    if marks >= 50 and marks <= 65:
        print ("D Grade")
    elif marks > 65 and marks <= 80:
         print ("C Grade")
    elif marks > 80 and marks <=90:
        print ("B Grade")
    elif marks >90 and marks <= 95:
        print ("A Grade")
    elif marks > 95:
        print ("A+ Grade")
elif marks < 33:
    print ("Fail")
    print ("F Grade")

Enter Your Marks 98

Pass
A+ Grade

## Arithmetic Operators
|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|

In [79]:
48 + 22    ## Add Operator

70

In [80]:
48 - 22    ## Sub Operator

26

In [81]:
33 * 2     ## Multi Operator

66

In [84]:
45 % 2     ## Modulo Operator

1

In [85]:
22 / 2     ## Division Operator

11.0

In [87]:
22 // 2    ## integer Division   "Give the Value with point"

11