##  Python Control Flows

### if statement

In [2]:

val=input('Enter the Number ')
value_float=float(val)
print(value_float)

Enter the Number  33

33.0

In [20]:
val = input('Enter any Number')
value_int = int(val)
if(value_int>100):
    print ('Number is Greater than 100')

Enter any Number 444

Number is Greater than 100

In [21]:
102%2==0

True

In [22]:
103%2==0

False

In [23]:
12%2!=0

False

### if-else Statement

In [26]:
val = input('Enter any Number')
value_float = float(val)
if(value_float>100):
    print ('Number is Greater than 100')
else:
    print('Numberis not Greater than 100')

Enter any Number 102

Number is Greater than 100

### Age Form
### Nested if else Condition

In [35]:
age = float(input("Enter Age"))

if (age < 18):
    print ("Minor Age")
elif (age >= 18 and age <45):
    print ("Mid Age")
elif (age > 45 and age <= 50):
    print ("Senior Mid Age")
else:
    print ("Over Age")

Enter Age 12

Minor Age

### Nested if else Condition

In [39]:
age = float(input("Enter Age"))

if (age < 18):
    print ("Minor Age")
    if (age < 15):
        print ("You are in High School")
    elif (age < 18):
        print ("You are in the College")
elif (age >= 18 and age <45):
    print ("Mid Age")
elif (age > 45 and age <= 50):
    print ("Senior Mid Age")
else:
    print ("Over Age")

Enter Age 16

Minor Age
You are in the College

## Loops

### for loop

In [40]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    print (i)

1
2
3
4
5
6
7
8
9

In [41]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    print (i**2)

1
4
9
16
25
36
49
64
81

In [42]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    print (i/2)

0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [43]:
## Find the Sum of all the Elements in the list

In [45]:
lst = [1,2,3,4,5,6,7,8,9]
sum1 = 0
for i in lst:
    sum1 = sum1 + i
print (sum1)

45

lst = [1,2,3,4,5,6,7,8,9]
Add = 0
for i in lst:
    Add = Add + i
print (Add)

### Find the Sum of Even and Odd Numbers

With String Format Methood

In [57]:
lst = [1,2,3,4,5,6,7,8,9]
Even_Sum = 0
Odd_Sum = 0

for i in lst:
    if (i %2 == 0):
        Even_Sum = Even_Sum + i
    else:
        Odd_Sum = Odd_Sum + i
print ("Sum of all Even Number is {}" .format(Even_Sum))
print ("Sum of all Odd Number is {}" .format(Odd_Sum))

Sum of all Even Number is 20
Sum of all Odd Number is 25

Without String Format Methood

In [58]:
lst = [1,2,3,4,5,6,7,8,9]
Even_Sum = 0
Odd_Sum = 0

for i in lst:
    if (i %2 == 0):
        Even_Sum = Even_Sum + i
    else:
        Odd_Sum = Odd_Sum + i
print ("Sum of all Even Number is",Even_Sum)
print ("Sum of all Odd Number is",Odd_Sum)

Sum of all Even Number is 20
Sum of all Odd Number is 25

## While Loop / Condition

In [11]:
i=0
while(i<=10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

### Finding Sum of Even and Odd Number using While Loop

With String Format Methood

In [1]:
i=0
Even_Sum = 0
Odd_Sum = 0
while(i<=10):
    if (i %2 == 0):
        Even_Sum=Even_Sum + i
    else:
        Odd_Sum=Odd_Sum + i
    i=i+1
        
print ("Sum of all Even number is {}".format(Even_Sum))
print ("Sum of all Odd number is {}".format(Odd_Sum))

Sum of all Even number is 30
Sum of all Odd number is 25

## Break

In [2]:
x = 1
while (x < 20):
    print(x)
    if (x == 11):
        break
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11

In [4]:
x = 1
while (x < 20):
    if (x == 11):
        break
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10

## Continue

In [1]:
x = 1
while (x < 13):
    x = x + 1
    if (x == 12):
        continue
    print(x)

2
3
4
5
6
7
8
9
10
11
13

## Break and Continue in While Loop

In [2]:
x = 2
while (x <= 30):
    x = x + 1
    if (x == 10):
        continue
    elif (x == 25):
        break
    print (x)

3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24